<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT contuctUs ANY>
<!ATTLIST contuctUs id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT articlesOverview ANY>
<!ATTLIST articlesOverview id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT projectsOverview ANY>
<!ATTLIST projectsOverview id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1093" key="472462cf-ecdd-44c9-8503-65e30f58a12d" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-04-03T19:18:29" updateDate="2019-04-03T20:04:29" nodeName="Home" urlName="home" path="-1,1093" isDoc="" nodeType="1060" creatorName="Gene8194" writerName="Gene8194" writerID="0" template="1059" nodeTypeAlias="homePage" isPublished="true">
    <umbracoNaviHide>0</umbracoNaviHide>
    <footer><![CDATA[Copyright 2019]]></footer>
    <aboutUs id="1108" key="90130fb1-4a64-4aea-8b38-05337658f471" parentID="1093" level="2" creatorID="0" sortOrder="0" createDate="2019-04-03T22:47:15" updateDate="2019-04-04T14:02:40" nodeName="About Us" urlName="about-us" path="-1,1093,1108" isDoc="" nodeType="1107" creatorName="Gene8194" writerName="Gene8194" writerID="0" template="1106" nodeTypeAlias="aboutUs" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <gridLayout><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "4 Row 1/1/1/3",
          "areas": [
            {
              "grid": 12,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "About Us in short",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            },
            {
              "grid": 12,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "id": 1113,
                    "udi": "umb://media/930a9fe8e4b545e3b463216dfe04e74d",
                    "image": "/media/1002/bee.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 12,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Here comes the main text</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><span style=\"display: inline !important; float: none; background-color: transparent; color: white; cursor: text; font-family: sans-serif; font-size: 13.63px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: pre; word-spacing: 0px;\">vision</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><span style=\"background-color: transparent; color: white; cursor: text; display: inline; float: none; font-family: sans-serif; font-size: 13.63px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: pre; word-spacing: 0px;\">people</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><span style=\"background-color: transparent; color: white; cursor: text; display: inline; float: none; font-family: sans-serif; font-size: 13.63px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: pre; word-spacing: 0px;\">skills</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "7653afd2-b1c7-7591-3b2f-4395a3011bc8",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></gridLayout>
    </aboutUs>
    <articlesOverview id="1094" key="d24deb21-0ce2-41aa-ab06-3f7e1e76a8cf" parentID="1093" level="2" creatorID="0" sortOrder="1" createDate="2019-04-03T19:22:54" updateDate="2019-04-04T08:34:15" nodeName="News" urlName="news" path="-1,1093,1094" isDoc="" nodeType="1071" creatorName="Gene8194" writerName="Gene8194" writerID="0" template="1092" nodeTypeAlias="articlesOverview" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <articleItem id="1117" key="3ab4ce97-aede-42bf-a458-53609ccc6eed" parentID="1094" level="3" creatorID="0" sortOrder="0" createDate="2019-04-04T13:50:06" updateDate="2019-04-04T14:54:50" nodeName="Article 1" urlName="article-1" path="-1,1093,1094,1117" isDoc="" nodeType="1075" creatorName="Gene8194" writerName="Gene8194" writerID="0" template="1074" nodeTypeAlias="articleItem" isPublished="true">
        <umbracoNaviHide>1</umbracoNaviHide>
        <articleContent><![CDATA[<p>First blog text</p>]]></articleContent>
        <articleTitle><![CDATA[Article One]]></articleTitle>
      </articleItem>
      <articleItem id="1118" key="cdb41fcb-226a-4d06-bf62-cde3a72a010d" parentID="1094" level="3" creatorID="0" sortOrder="1" createDate="2019-04-04T13:50:48" updateDate="2019-04-04T14:56:42" nodeName="Article 2" urlName="article-2" path="-1,1093,1094,1118" isDoc="" nodeType="1075" creatorName="Gene8194" writerName="Gene8194" writerID="0" template="1074" nodeTypeAlias="articleItem" isPublished="true">
        <umbracoNaviHide>1</umbracoNaviHide>
        <articleContent><![CDATA[<p>Second Article text</p>]]></articleContent>
        <articleTitle><![CDATA[Article Two]]></articleTitle>
      </articleItem>
    </articlesOverview>
    <projectsOverview id="1095" key="9b85bbcc-4a3a-454a-944a-91d53eeff7d8" parentID="1093" level="2" creatorID="0" sortOrder="2" createDate="2019-04-03T19:23:20" updateDate="2019-04-04T08:34:16" nodeName="Our Projects" urlName="our-projects" path="-1,1093,1095" isDoc="" nodeType="1079" creatorName="Gene8194" writerName="Gene8194" writerID="0" template="1078" nodeTypeAlias="projectsOverview" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectItem id="1119" key="91b59a1f-971a-4c1e-8bba-b681c7d616c4" parentID="1095" level="3" creatorID="0" sortOrder="0" createDate="2019-04-04T15:04:22" updateDate="2019-04-04T16:19:30" nodeName="Project 1" urlName="project-1" path="-1,1093,1095,1119" isDoc="" nodeType="1084" creatorName="Gene8194" writerName="Gene8194" writerID="0" template="1083" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>1</umbracoNaviHide>
        <projectTitle><![CDATA[First Project]]></projectTitle>
        <projectDescription><![CDATA[<p>This is the beginning .....</p>]]></projectDescription>
        <projectStatus>37</projectStatus>
      </projectItem>
      <projectItem id="1120" key="f1f1619f-c87d-40e2-8ae6-8c8fa7be37f0" parentID="1095" level="3" creatorID="0" sortOrder="1" createDate="2019-04-04T15:05:04" updateDate="2019-04-04T16:19:46" nodeName="Project 2" urlName="project-2" path="-1,1093,1095,1120" isDoc="" nodeType="1084" creatorName="Gene8194" writerName="Gene8194" writerID="0" template="1083" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>1</umbracoNaviHide>
        <projectTitle><![CDATA[Second project]]></projectTitle>
        <projectDescription><![CDATA[<p>to be continued....</p>]]></projectDescription>
        <projectStatus>40</projectStatus>
      </projectItem>
    </projectsOverview>
    <contuctUs id="1103" key="d5d2a534-68fa-47df-bfac-1f7f719e6511" parentID="1093" level="2" creatorID="0" sortOrder="3" createDate="2019-04-03T20:17:02" updateDate="2019-04-03T20:17:02" nodeName="Contact Us" urlName="contact-us" path="-1,1093,1103" isDoc="" nodeType="1102" creatorName="Gene8194" writerName="Gene8194" writerID="0" template="1101" nodeTypeAlias="contuctUs" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
    </contuctUs>
    <sitemap id="1116" key="049df1fb-3350-483e-aeb0-02888af5b047" parentID="1093" level="2" creatorID="0" sortOrder="4" createDate="2019-04-04T08:41:10" updateDate="2019-04-04T09:01:35" nodeName="Sitemap" urlName="sitemap" path="-1,1093,1116" isDoc="" nodeType="1115" creatorName="Gene8194" writerName="Gene8194" writerID="0" template="1114" nodeTypeAlias="sitemap" isPublished="true">
      <umbracoNaviHide>1</umbracoNaviHide>
    </sitemap>
  </homePage>
</root>