@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ArticleItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}


<section id="three" class="wrapper style3 special">
				<div class="inner">
				    
				    <br> <br> <br>
					<header class="major narrow	">
						<h2>@Umbraco.Field("articleTitle")</h2>
						<p>@Umbraco.Field("articleContent")</p>
					
				</div>
			</section>