@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ArticlesOverview>
    @using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}



@{
	var selection = Model.Content.Site().FirstChild("articlesOverview").Children("articleItem")
						
						.OrderBy("CreateDate desc");
}

<section id="three" class="wrapper style3 special">
				<div class="inner">
					
					<br><br><br>
					<ul>
	@foreach(var item in selection){
		
		<div class="article">
    <div class="articletitle"><a href="@item.Url">@item.Name</a></div>
    <div class="articlepreview">@Umbraco.Field("articleContent").ToString().Truncate(100) <a href="@item.Url">Read More..</a></div>
</div>
<hr/>
		
	}
</ul>
					
					
				</div>
			</section>



